.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    margin-top: 10%;
    margin-bottom: 10%
}

.textbox-timer-container {
    display: flex;
    height: 100px;
}

.animation {
    width: 400px;
    height: 80px;
    background-color: brown;
    margin: 10px auto;
}

.timer {
    color:white;
    font-family: 'Inter', sans-serif;
    font-size: 90px;
    margin-left: 5%;
    width: 1000px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.timer:hover {
    text-decoration: underline;
    cursor: pointer;
}


#time-input {
    width: 110px;
    padding-left: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

input {
    width: 600px;
    height: 100px;
    line-height: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 90px;
}

input::placeholder {
    color: #999;
    font-size: 70px;
    transform: translateY(-5px);
}

body {
    background-color: #1A2032;
  }

.wordbank {
    color:white;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    transition: font-size 0.5s ease-in-out;

}

// .wordbank:hover {
//     font-size : 200px; 
// }

.wordbank-container {
    height: 148px;
    overflow: auto;
    margin-bottom: 5%;
}

.wordbank-container::-webkit-scrollbar {
    width: 0.8em; 
}
  
.wordbank-container::-webkit-scrollbar-track {
    background-color: transparent; 
}
  
.wordbank-container::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

.results-first {
    color: white;
    font-size: 75px;
}

.test {
    height: 80vh;
    // background-color: purple
}

.test-results {
    // height: 70vh;
    
    // background-color: pink;
}

.test-barchart {
    // background-color: purple;


}

.test-heatmap {
    height: 100vh;
    // background-color: pink;
}

.test-linechart {
    height: 50vh;
    background-color: purple;
}

#chart-container {
    width: 100%;
}

.chart-container {
    width: 100%; /* Set the width of the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
  }
  
  
.scroll-container-x {
    overflow-x: scroll; /* Enable horizontal scrolling for the inner container */
    overflow-y: hidden; /* Disable vertical scrolling for the inner container */
    white-space: nowrap; /* Prevent line breaks */
    z-Index: 1;
  }

.scroll-container-x::-webkit-scrollbar-track {
    background-color: transparent; 
}
  
.scroll-container-x::-webkit-scrollbar-thumb {
    background-color: green; 

}

#modal-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Ensure the flag appears above the bars */
  }

  .results-header {
    display: flex-box;
    justify-content: center;
  }

.nav-bar {
    position: absolute;
    display: flex;
    align-items: center;
    // position: absolute; 
    top: 20px;
    right: 200px;
    color: white;
    font-size: 48px;
}

.nav-bar-link {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.nav-bar-link:hover {
    text-decoration: underline;
}

.google-button {
    // background-image: url('../assets/OAuthButtons/Google/Web\ \(mobile\ +\ desktop\)/svg/neutral/web_neutral_sq_SU.svg');
    // display: flex;
    // // height: 50%;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    // border-radius: 10px;
    width: 185px;
    height: 44px;
}

.google-button:hover {
    cursor: pointer;
}

.profile-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    height: 60vh;
}

.twoxtwo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    width: 20vw;
    height: 40vh;
}

.account-info-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: pink;
    height: 20vh;
    width: 20vw;
}

.user-history-container {
    background-color: blue;
}

.user-info-container {
    position: relative;
    background-color: lightgrey;
    height: 90%;
    width: 90%;
    // aspect-ratio: 1;
    margin: 3%;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
}

.user-info-container::before,
.user-info-container::after {
  content: "";
  position: absolute;
  background-color: darkgrey; /* Set the color of the lines */
}

.user-info-container::before {
  top: 50%; /* Position the vertical line at 50% of the user-info.user-info-container's height */
  left: 0;
  right: 0;
  height: 2px; /* Set the height of the vertical line */
}

.user-info-container::after {
  left: 50%; /* Position the horizontal line at 50% of the container's width */
  top: 0;
  bottom: 0;
  width: 2px; /* Set the width of the horizontal line */
}

.user-info-subcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    // 1/2 parent container width;
    width: 15vh;
}

.user-info-subcontainer-large-font {
    font-size: 30px;
}

.user-info-subcontainer-small-font {
    font-size: 15px;
}

.user-test-history-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: purple;
    width: 30vw;
    height: 60vh;
}

#profile-pic {
    width: 45%;
    height: 45%;
    margin: 10px;
    border-radius: 10px;

}

.twoxtwo-subcontainer {
    display:flex;
    justify-content: space-evenly;
    background-color: red;
    height: 32vh;
}

.user-history-charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    height: 60vh
}

.results-container {
    display:flex;
    // background-color: pink;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 80vw;

}